
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter"  filter-color="black" style="background-image: url('./assets/img/fondo.webp'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6 ml-auto mr-auto">
            <form class="form" [formGroup]= "loginGroup" (ngSubmit)="login()" autocomplete="off" >
              <div class="card card-login card-hidden">
                <div class="card-header card-header-warning text-center">
                  
                  <div class="social-line">
                    <img src="./assets/img/logo-ppp.png">
              
                  </div>
                  <h4 class="card-title"> <b> Ingreso al portal </b></h4>
                </div>
                <div class="card-body text-center">
                 
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">fingerprint</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="nombre usuario..." formControlName="userName" required>
                      </div>
                    </span>

                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password..." formControlName="password" required>
                      </div>
                    </span>
  
                  <br>
                  <br>
                  <button   [disabled]="loginGroup.invalid" type="submit" class="btn btn-primary btn-round mt-4">Ingresar</button>
                  <br>
                  <br>
                  No tienes una cuenta?, <a  [routerLink]="['/auth/registro']">   <b>Registrate aquí</b> <i class="material-icons">person_add</i> </a>
                </div>
                <div class="card-footer">
                 &nbsp;
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 mr-auto ml-auto">
         
          </div>
         
        
          
          </div>
     
     
      </div>
      <footer class="footer ">
        <div class="container">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="#">
                  PayPerPallet
                </a>
              </li>
              <li>
                <a href="#">
                  Documentación
                </a>
              </li>
 
            </ul>
          </nav>
          <div class="copyright pull-right">
            &copy;
              {{test | date: 'yyyy'}}, <i class="material-icons">build</i> desarrollado  por
            <a href="#" target="_blank">Sercicomp</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  