.example-radio-group {
    display: inline;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }


  .tabla-posiciones-container {
    height: 270px;
    overflow: auto;
  }

  .first-footer-row {
    font-weight: bold;
   
  }