<div   class="main-content">
  <div class="container-fluid">

 
    <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                      <i class="material-icons">pending_actions</i>
                  </div>
                  <h4 class="card-title">Bienvenido</h4>

              </div>

              <div class="card-body">

                  <h5 class="card-subtitle mb-2 text-muted">Pagina principal</h5>
                  <p class="card-text">Texto de bienvenida</p>
            
              </div>
          </div>
      </div>
  </div>

  </div>
</div>