<div   class="main-content">
  <div class="container-fluid">


  <div class="row">
    <div class="col col-sm-8 col-lg-8 col-sm-12 ml-auto mr-auto">
      <div class="card  ">
  
          <div class="card-header card-header-warning">
  
              <h3 class="card-title">Quíenes Somos </h3>
            </div>

          <div class="card-body">
            
            <div class="info">
                <div class="icon icon-primary">
                    <i class="material-icons">extension</i>
                </div>
                <h4 class="info-title">&copy;PAY PER PALLET</h4>
               <p> Es una empresa especializada en el servicio de arriendo de posiciones individuales de racks, estratégicamente ubicadas en los condominios de bodegas y centros de distribución más destacados del país. </p>
            </div>

        

          </div>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col col-sm-8 col-lg-8 col-sm-12 ml-auto mr-auto">
      <div class="card  ">
  
          <div class="card-header card-header-info">
  
              <h3 class="card-title">Lo que ofrecemos </h3>
            </div>

          <div class="card-body">
            
            <div class="info">
                <div class="icon icon-warning">
                    <i class="material-icons">precision_manufacturing</i>
                </div>
                <h4 class="info-title">El servicio <b>PPP</b> </h4>
               <p> Representa la máxima flexibilidad operativa para nuestros clientes, ya que les permite acceder rápidamente a un almacenaje seguro de su mercadería, usando solo las posiciones que necesiten, cuándo las necesiten y por el tiempo que las necesiten, logrando así optimizar sus recursos y conseguir una cadena de suministro eficiente. </p>
            </div>

   

          </div>
        </div>
    </div>
</div>

  </div>
</div>